@import "@style";

.textInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 0.6rem;
    color: $blue-100;
    position: relative;

    &.has-error {
        &::after {
            content: attr(data-error);
            color: red;
            font-size: 0.8rem;
        }
    }

    input {
        border-radius: 7px;
        border: 2px solid $blue-300;
        background-color: $blue-500;
        padding: 0.8rem;
        padding-inline: 2rem;
        color: $font-light;
        font-weight: $light;

        &.error-border{
            border-color: red;
        }
    }

    .password-toggle{
        position: absolute;
        right: 1rem;
        top: 3.4rem;
        background: none;
        border: none;
        cursor: pointer;
        height: min-content;
        line-height: 0;
        padding: 0;

        .eyes{
            mix-blend-mode: difference;
        }
    }
}
