@use "@style" as *;

.textInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 0.6rem;
    color: $blue-100;
    position: relative;

    &.has-error {
        &::after {
            content: attr(data-error);
            color: $error-color;
            font-size: $s;
        }
    }

    &.length-counter {
        position: relative;

        &::after {
            content: attr(data-count);
            position: absolute;
            bottom: -1rem;
            right: 0;
            color: $beige-500;
            font-size: $s;
            font-weight: 300;
        }
        
        &[data-color="warning"]::after  {
            color: $orange-500;
        }
        
        &[data-color="error"]::after  {
            color: $error-color;
        }
    }

    input,
    textarea {
        border-radius: 7px;
        padding: 0.8rem;
        padding-inline: 2rem;
        font-weight: $light;

        &.error-border {
            border-color: $error-color;
        }
    }

    &__dark {
        color: $blue-100;

        ::placeholder {
            color: $blue-100;
        }

        input,
        textarea {
            border: 2px solid $blue-200;
            background-color: $blue-400;
            color: $font-light;
        }
    }

    &__light {

        label {
            font-weight: $bold;
            color: $blue-400;
        }

        input,
        textarea {
            border: 2px solid $beige-300;
            background-color: $beige-300;
            color: $blue-300;
        }
    }

    .password-toggle {
        position: absolute;
        right: 1rem;
        top: 3.4rem;
        background: none;
        border: none;
        cursor: pointer;
        height: min-content;
        line-height: 0;
        padding: 0;

        .eyes {
            stroke: $primary-light;
            fill: none;
        }
    }
}