@import "@style";

.dashHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: $beige-200;
    padding: 1rem;
    margin: 1rem;
    border-radius: $windows-radius;
}