@import "@style";

.service {
    @include service;
}

.newService {
    @include service;
    background-color: $beige-300;
    color: $blue-400;
    border: 2px solid $blue-400;
    &:hover {
        background-color: lighten($beige-300, 5%);
    }
}
