@import "@style";

$form-style: (
    'dark-blue': (
        bg: $blue-400,
        text: $font-light
    ),
    'beige': (
        bg: $beige-200,
        text: $font-dark
    )
);

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    background-color: $blue-400;
    border-radius: $windows-radius;
    padding: 2rem;
    width: fit-content;
    margin: auto;

    @each $style, $colors in $form-style {
        &--#{$style} {
          background-color: map-get($colors, bg);
          color: map-get($colors, text);
    
          h2 {
            color: map-get($colors, text);
          }
    
          .form__otherFields {
            color: map-get($colors, text);
          }
    
          .introductiveText {
            color: map-get($colors, text);
          }
        }
      }
    
      h2 {
        font-weight: $semiBold;
        font-size: $xl;
        margin: 0;
        padding: 0;
      }
    
      .form__buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: flex-end;
      }
    
      .form__otherFields {
        & * {
          margin: 0;
          padding: 0;
        }
      }
    }

.introductiveText {
    color: $font-light;

    &__emoji {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        margin-bottom: 5vh !important;
    }
}

@media screen and (max-width: $mobile) {
    .form  {
        width: 90%;
        
        .form__buttons {
            display: flex;
            flex-direction: column-reverse;
            & button {
                width: 100%;
                margin: 0;
                padding: 0;
                padding-block: 0.8rem;
            }
        }
    }
}