@use "@style" as *;
@use "sass:color";

$btn-types: (
	"submit",
	"dark",
	"dark-secondary",
	"light",
	"invite",
	"role-select-left",
	"role-select-right",
	"thin-btn-light"
);

$colors: (
	"orange": $orange-400,
	"blue": $blue-100,
	"green": $green-400,
);

.button {
	all: inherit;
	min-height: $btn-height;
	color: $primary-light;
	font-weight: $semiBold;
	border-radius: $atoms-radius;
	padding: 1.25rem;
	padding-inline: 3.5rem;
	margin: 0.2rem;
	font-size: $s;
	background-color: $blue-200;
	text-align: center;
	cursor: pointer;
	border: none;
	display: inline-block;

	@each $btn-type in $btn-types {
		&.btn-#{$btn-type} {
			color: $font-light;
		}
	}

	&.btn-submit {
		$background-color: $blue-200;
		background-color: $background-color;

		&:hover {
			background-color: color.adjust($background-color, $lightness: 10%);
		}
	}

	&.btn-disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.btn-dark {
		$background-color: $blue-500;
		background-color: $background-color;

		&:hover {
			background-color: color.adjust($background-color, $lightness: 10%);
		}
	}

	&.btn-dark-secondary {
		$background-color: $blue-400;
		background-color: $background-color;

		&:hover {
			background-color: color.adjust($background-color, $lightness: 10%);
		}
	}

	&.btn-light {
		$background-color: $blue-200;
		background-color: $background-color;

		&:hover {
			background-color: color.adjust($background-color, $lightness: 10%);
		}
	}

	&.btn-invite {
		$background-color: $blue-500;
		background-color: $background-color;

		&:hover {
			background-color: color.adjust($background-color, $lightness: 10%);
		}
	}

	&.btn-role-select-left {
		$background-color: $green-400;
		background-color: $background-color;

		&:hover {
			background-color: $green-300;
		}
	}

	&.btn-role-select-right {
		$background-color: $orange-500;
		background-color: $background-color;

		&:hover {
			background-color: $orange-400;
		}
	}

	&.thin-btn-light {
		padding: 0.8rem;
		padding-inline: min(5rem, 10vw);
		border-radius: 5px;
		box-shadow: 0 3px 5px 5px rgba($beige-500, 0.2);

		@each $color, $base-color in $colors {
			&.thin-btn-#{$color} {
				background-color: $base-color;

				&:hover {
					background-color: color.adjust($base-color, $lightness: 5%);
					color: $font-light;
				}
			}
		}
	}
}