    @use "@style" as *;

    .FAQ__section {
    padding: 5vh 7vw 5vh 0vw;
    background-color: $beige-100;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        color: $primary-dark;
        font-size: 3.75rem;
        font-weight: $semiBold;
        font-style: normal;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }
    }

    .FAQ__container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
    max-width: 100%;
    }