@import "@style";

.login {
    min-height: 100vh;
    background-image: url("@/assets/illustrations/chien-attendant-sages-restaurant-proprietaires.png");
    background-size: 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        width: 30rem;
        margin-inline: auto;
        max-width: 80%;
        margin-block: 3rem;
    }

    &__form {
        width: 33%;
    }

    &__bottomLinks {
        margin-block-end: 1rem;
        line-height: $l;
    }
}

@media screen and (max-width: 600px) {
    .login {
        background-size: contain;
    }
}