@import "@style";

$dashHeaderHeight: 10vh;
$dashSideBarWidth: 10vw;
$dashMobileSideBarHeight: 10vh;
$dashInlinePadding: 1vw;

// HEADER
.dashHeader {
    height: $dashHeaderHeight;
    padding-inline: $dashInlinePadding;
    padding-inline-start: calc($dashSideBarWidth + $dashInlinePadding);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $green-100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 2%;

    & h1 {
        color: $green-400;
    }

    &__right-corner {
        max-width: 50%;
        height: $dashHeaderHeight;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__notification {
        width: $l;
    }

    &__avatar {
        border-radius: 50%;
        padding-block: 1.2vh;
    }
}

// SIDEBAR
.dashSideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $dashSideBarWidth;
    background-color: $blue-500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $dashInlinePadding;

    &__logo {
        height: calc($dashSideBarWidth/3);
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}


// CONTENT
.dashLayout__content {
    padding: $dashInlinePadding;
    padding-block-start: $dashHeaderHeight;
    padding-inline-start: calc($dashSideBarWidth + $dashInlinePadding);
}

// MEDIA QUERY
@media screen and (max-width: 850px) {
    // HEADER
    .dashHeader {
        padding-inline: $dashInlinePadding;
    }
    // SIDEBAR
    .dashSideBar {
        padding-inline: $dashInlinePadding;
        height: $dashMobileSideBarHeight;
        top: unset;
        right: 0;
        left: 0;
        width: 100%;
    }
    // CONTENT
    .dashLayout__content {
        padding-block-end: $dashMobileSideBarHeight;
        padding-inline: $dashInlinePadding;
    }
}
