@import "@style";

$welcomePageHeaderHeight: 10vh;

.welcomepage__header--all {
    position: fixed;
    z-index: 9000;
    display: flex;
    width: 100%;
    background-color: $background-color;
    height: $welcomePageHeaderHeight;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 7vw;
    border-bottom: 2px solid $beige-300;
}

.welcomepage__header--logo {
    min-height: 5vh;
}

.welcomepage__header--links {
    position: fixed;
    z-index: 9001;
    display: flex;
    height: $welcomePageHeaderHeight;
    align-items: center;

    column-gap: 3vw;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%);
    font-size: $s;
    font-weight: $semiBold;
    font-style: normal;
    letter-spacing: 2px;

    a {
        color: $primary-dark;

        &:hover {
            color: $hovered-link;
        }

        &:active {
            color: $blue-100;
        }
    }
}

.welcomepage__header--button-sign {
    background-color: $beige-200;
    color: $beige-500;
    font-size: $s;
    font-weight: $medium;
    font-style: normal;
    padding: 1.5vh 3vw;
    border-radius: 5px;
    letter-spacing: 1px;

    &:hover {
        background-color: $beige-300;
        color: $beige-500;
    }
}

.welcomepage__header--button-login {
    background-color: $primary-dark;
    color: $primary-light;
    font-size: $s;
    font-weight: $medium;
    font-style: normal;
    padding: 1.5vh 3vw;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-left: $s;

    &:hover {
        background-color: $blue-100;
        color: $primary-light;
    }
}

.welcomePageHeaderLayout__main main {
    margin-block-start: $welcomePageHeaderHeight;
    height: calc(100vh - #{$welcomePageHeaderHeight}); // #{} shows the calculation in developer tools
}

@media screen and (max-width: $mobile) {
    .welcomepage {
        &__header {
            &--all {
                width: 100%;
                border: none;
            }
            &--links {
                width: 100%;
                justify-content: space-around;
                margin-block-start: $welcomePageHeaderHeight;
                border: 2px solid $beige-300;
                height: fit-content;
                padding-block: 1vh;
            }
        }
    }
}
