@import "@style";

.planningHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: $beige-200;
    padding: 0.5rem 1.75rem;
    margin: 1rem;
    border-radius: $windows-radius;
}

.planningHeader__title {
    @include title;
    letter-spacing: 0.05ch;
    font-weight: $bold;
    font-size: $xl;
}

@media screen and (max-width: $mobile) {
    .planningHeader {
        flex-direction: column;
        gap: 0;
        &__title {
            margin-block-start: 0;
            margin-block-end: 0.5rem;
        }
    }
}
