// Only use global HTML selectors in this file to avoid conflicts 

#root {
    color: $primary-dark;
}

a {
    color: $base-link;
    text-decoration: none;
    font-weight: bold;
    &:visited {
        color: $visited-link;
    }
    &:active {
        color: $active-link;
    }
    &:hover {
        color: $hovered-link;
    }
    &:focus {
        color: $focused-link;
        padding-inline: 2px;
    }
}

h1, h2, h3, h4, h5 {
    @include title;
}

h1 {
    @include h1;
}

.quote1 {
    @include quote1;
}