// All mixins must be gathered in this file

@mixin avatar {
    border-radius: 50%;
    padding: 1.2vh 1.5vw;
}

@mixin title {
    color: $blue-400;
    font-weight: $semiBold;
}

@mixin tag {
    color: $primary-light;
    min-width: 15ch;
    padding-inline: 2rem;
    padding-block: 0.6rem;
    border-radius: $atoms-radius;
    margin: 0.2rem;
    display: inline-block;
    font-weight: $semiBold;
    text-align: center;
}

.hidden__ {
    &mobile {
        @media screen and (max-width: $mobile) {
            display: none !important;
        }
    }

    &desktop {
        @media screen and (min-width: $mobile) {
            display: none !important;
        }
    }
}

