// All mixins must be gathered in this file

@mixin avatar {
    border-radius: 50%;
    padding: 1.2vh 1.5vw;
}

@mixin dashContentArea($offset : 0) {
    min-height: calc(100vh - $dashHeaderHeight - $dashInlinePadding + #{$offset});

    @media (width < $mobile) {
        min-height: calc(100vh - $dashHeaderHeight - $dashHeaderHeight + #{$offset});
    }
}

@mixin title {
    color: $blue-400;
    font-weight: $semiBold;
}

@mixin tag {
    color: $primary-light;
    min-width: 15ch;
    padding-inline: 2rem;
    padding-block: 0.6rem;
    border-radius: $atoms-radius;
    margin: 0.2rem;
    display: inline-block;
    font-weight: $semiBold;
    text-align: center;
}

@mixin dogBackground {
    &::after {
        content: '';
        width: 30%;
        aspect-ratio: 1;
        position: fixed;
        z-index: -1;
        bottom: 0;
        right: 2rem;
        background: bottom right url(../../../../assets/illustrations/chien-high-five-proprietaire-canape.png) no-repeat;
        background-size: 30vw;

        @media (width < $tablet) {
            display: none;
        }
    }
}

.hidden__ {
    &mobile {
        @media screen and (max-width: $mobile) {
            display: none !important;
        }
    }

    &desktop {
        @media screen and (min-width: $mobile) {
            display: none !important;
        }
    }
}

