@use "./variables" as *;

// Override toastify css variables
:root {
    --toastify-color-info: #{$blue-100};
    --toastify-color-success: #{$green-400};
    --toastify-color-warning: #{$orange-400};
    --toastify-color-error: #{$error-color};

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

//   --toastify-container-width: fit-content;
//   --toastify-toast-width: 320px;
//   --toastify-toast-offset: 16px;
//   --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
//   --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
//   --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
//   --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
//   --toastify-toast-background: #fff;
//   --toastify-toast-padding: 14px;
//   --toastify-toast-min-height: 64px;
//   --toastify-toast-max-height: 800px;
    --toastify-toast-bd-radius: 10px;
//   --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --toastify-font-family: #{$font};
//   --toastify-z-index: 9999;
//   --toastify-text-color-light: #757575;
//   --toastify-text-color-dark: #fff;

   /* Used only for colored theme */
    --toastify-text-color-info: #{$font-light};
    --toastify-text-color-success: #{$font-light};
    --toastify-text-color-warning: #{$font-light};
    --toastify-text-color-error: #{$font-light};

//   --toastify-spinner-color: #616161;
//   --toastify-spinner-color-empty-area: #e0e0e0;
//   --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
//   --toastify-color-progress-dark: #bb86fc;
//   --toastify-color-progress-info: var(--toastify-color-info);
//   --toastify-color-progress-success: var(--toastify-color-success);
//   --toastify-color-progress-warning: var(--toastify-color-warning);
//   --toastify-color-progress-error: var(--toastify-color-error);
//   /* used to control the opacity of the progress trail */
//   --toastify-color-progress-bgo: 0.2;
}


