// Main colors
$primary-dark: #0c343d;
$primary-light: #f9f4e5;

$secondary-dark: #8cc871;
$secondary-light: #ecec59;

$accent-color: #ffa84d;

$blue-600: #021418;
$blue-500: #04272f;
$blue-400: #063b46;
$blue-300: #0a6375;
$blue-200: #0c778d;

// Links
$base-link: $accent-color;
$visited-link: darken($accent-color, 20%);
$active-link: blue;
$hovered-link: lighten($accent-color, 10%);
$focused-link: red;

// Debug
$border-debug: 5px solid lime;
.debug {
    border: $border-debug;
}

// Fixed values
$atoms-radius: 10px;
$windows-radius: 20px;
$blocks-margin: 2rem;

// Transparent variables renaming
$background-color: $primary-light;
$aside-color: $primary-dark;
